@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin displayFlexBetween {
  @include displayFlex();
  justify-content: space-between;
}

@mixin displayFlexColumn {
  @include displayFlex();
  flex-direction: column;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.btn {
  cursor: pointer;
}

.website-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(248, 248, 248) 0%, rgb(182, 167, 145) 100%);
  position: relative;
  overflow: hidden;
}

.floor-scene-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.info-window {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 2;
  width: 0px;
  height: calc(100% - 60px);
  .floor-container {
    //  height: 150px;
    .text-container {
      h1:nth-child(1) {
        margin-bottom: 10px;
      }
    }
    .btn-close {
      top: 20px;
      right: 20px;
      position: absolute;
      @include displayFlex();
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
  .room-container {
    top: 160px;
  }
  .container {
    position: absolute;
    padding: 30px;
    width: 600px;
    background-color: white;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.5s all linear;
    .text-container {
      width: 100%;
      height: 100%;
      @include displayFlexColumn();
      justify-content: flex-start;
      align-items: flex-start;
      h1 {
        font-size: 28px;
      }
      p {
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .info-window {
    height: calc(100% - 20px);

    .container {
      padding: 20px;
      width: calc(100vw - 10px);
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      .text-container {
        h1 {
          font-size: 20px;
        }
        h1:nth-child(1) {
          margin-bottom: 5px;
        }
      }
    }
    .floor-container {
      height: 90px;
    }
    .room-container {
      bottom: 0;
      top: auto;
    }
  }
}
